/Library
/Logs
/Temp
/UserSettings
/obj
/Assets/Plugins/Editor/JetBrains*
Return0.sln
key1
key1.pub
*.vsconfig
*.vs
*.gradle
*.idea
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db